sock
*.mov
*.mp4
stt/vosk-model-cn-0.22/
stt/vosk-model-small-cn-0.22/
.hf/hub/
.hf/
.wheels_py38/
video_clips/output/
video_clips/modules/__pycache__/
**/__pycache__/*
__pycache__/
video_clips/temp/
